{{ define "settings-sidebar.html" }}
<div class="sidebar pull-left">
{{ $pagename := .PageName}}
{{ if eq .PageName "Theme" }}
<a href="{{ .SettingPages.Theme.Path }}" class="active">{{ T .Locale "nav_theme" }}</a>
<a href="{{ .SettingPages.Service.Path }}">{{ T .Locale "nav_service" }}</a>
<a href="{{ .SettingPages.Weather.Path }}">{{ T .Locale "nav_weather" }}</a>
<a href="{{ .SettingPages.Search.Path }}">{{ T .Locale "nav_search" }}</a>
<a href="{{ .SettingPages.Appearance.Path }}">{{ T .Locale "nav_appearance" }}</a>
<a href="{{ .SettingPages.Others.Path }}">{{ T .Locale "nav_others" }}</a>
{{ end }}
{{ if eq .PageName "Service" }}
<a href="{{ .SettingPages.Theme.Path }}">{{ T .Locale "nav_theme" }}</a>
<a href="{{ .SettingPages.Service.Path }}" class="active">{{ T .Locale "nav_service" }}</a>
<a href="{{ .SettingPages.Weather.Path }}">{{ T .Locale "nav_weather" }}</a>
<a href="{{ .SettingPages.Search.Path }}">{{ T .Locale "nav_search" }}</a>
<a href="{{ .SettingPages.Appearance.Path }}">{{ T .Locale "nav_appearance" }}</a>
<a href="{{ .SettingPages.Others.Path }}">{{ T .Locale "nav_others" }}</a>
{{ end }}
{{ if eq .PageName "Weather" }}
<a href="{{ .SettingPages.Theme.Path }}">{{ T .Locale "nav_theme" }}</a>
<a href="{{ .SettingPages.Service.Path }}">{{ T .Locale "nav_service" }}</a>
<a href="{{ .SettingPages.Weather.Path }}" class="active">{{ T .Locale "nav_weather" }}</a>
<a href="{{ .SettingPages.Search.Path }}">{{ T .Locale "nav_search" }}</a>
<a href="{{ .SettingPages.Appearance.Path }}">{{ T .Locale "nav_appearance" }}</a>
<a href="{{ .SettingPages.Others.Path }}">{{ T .Locale "nav_others" }}</a>
{{ end }}
{{ if eq .PageName "Search" }}
<a href="{{ .SettingPages.Theme.Path }}">{{ T .Locale "nav_theme" }}</a>
<a href="{{ .SettingPages.Service.Path }}">{{ T .Locale "nav_service" }}</a>
<a href="{{ .SettingPages.Weather.Path }}">{{ T .Locale "nav_weather" }}</a>
<a href="{{ .SettingPages.Search.Path }}" class="active">{{ T .Locale "nav_search" }}</a>
<a href="{{ .SettingPages.Appearance.Path }}">{{ T .Locale "nav_appearance" }}</a>
<a href="{{ .SettingPages.Others.Path }}">{{ T .Locale "nav_others" }}</a>
{{ end }}
{{ if eq .PageName "Appearance" }}
<a href="{{ .SettingPages.Theme.Path }}">{{ T .Locale "nav_theme" }}</a>
<a href="{{ .SettingPages.Service.Path }}">{{ T .Locale "nav_service" }}</a>
<a href="{{ .SettingPages.Weather.Path }}">{{ T .Locale "nav_weather" }}</a>
<a href="{{ .SettingPages.Search.Path }}">{{ T .Locale "nav_search" }}</a>
<a href="{{ .SettingPages.Appearance.Path }}" class="active">{{ T .Locale "nav_appearance" }}</a>
<a href="{{ .SettingPages.Others.Path }}">{{ T .Locale "nav_others" }}</a>
{{ end }}
{{ if eq .PageName "Others" }}
<a href="{{ .SettingPages.Theme.Path }}">{{ T .Locale "nav_theme" }}</a>
<a href="{{ .SettingPages.Service.Path }}">{{ T .Locale "nav_service" }}</a>
<a href="{{ .SettingPages.Weather.Path }}">{{ T .Locale "nav_weather" }}</a>
<a href="{{ .SettingPages.Search.Path }}">{{ T .Locale "nav_search" }}</a>
<a href="{{ .SettingPages.Appearance.Path }}">{{ T .Locale "nav_appearance" }}</a>
<a href="{{ .SettingPages.Others.Path }}" class="active">{{ T .Locale "nav_others" }}</a>
{{ end }}
</div>
{{ end }}