#container-apps {
  background-color: #071c38;
  border-bottom: 1px solid #123361;
  border-right: 1px solid #123361;
  border-left: 1px solid #123361;
  border-radius: 8px;
  border-top: 2px solid #3984f6;
  margin: 0 0 40px;
  padding: 20px;
}

#container-apps h2::after {
  border-top-color: #123361;
}

#container-apps h2 a {
  background: #071c38;
}

#container-apps h2 a svg {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#container-apps .apps-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#container-apps .apps-container .app-container {
  box-sizing: border-box;
  margin-bottom: 20px;
}

#container-apps .apps-container .app-item {
  padding: 8px 10px;
  border: 1px solid #153e76;
  border-radius: 8px;
  background-color: #0a2449;
  transition: all .2s;
  display: flex;
  overflow: hidden;
  position: relative;
}

#container-apps .apps-container .app-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  border-radius: 8px;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all .2s;
}

#container-apps .apps-container .app-item:hover {
  box-shadow: 0 4px 12px rgba(57, 132, 246, .25);
}

#container-apps .apps-container .app-item:hover::before {
  border: 1px solid #3984f6;
  border-bottom: 2px solid #3984f6;
}

#container-apps .apps-container .app-icon {
  height: 46px;
  width: 46px;
}

#container-apps .apps-container .app-icon * {
  width: 98%;
  height: 98%;
  color: #f1f5f9;
}

/* 非inline模式 */
#container-apps .apps-container .app-icon img {
  display: block;
  height: 46px;
  width: 46px;
  color: #f1f5f9;
}

#container-apps .apps-container .app-text {
  margin-left: 10px;
  flex: 1;
  overflow: hidden;
}

#container-apps .apps-container .app-title {
  font-size: 16px;
  font-weight: 620;
  color: #f1f5f9;
  transition: all .2s;
  white-space: nowrap;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#container-apps .apps-container .app-desc {
  font-size: 14px;
  color: #95a4b9;
  font-weight: 620;
  transition: all .2s;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
}