#page-settings .sidebar {
  position: absolute;
  left: 0;
  width: 120px;
  padding: 20px 0;
  list-style: none;
  height: 100%;
  background-color: #033b3b;
  border-radius: 8px 0 0 8px;
}

#page-settings .sidebar a {
  display: block;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s;
  border-left: 2px solid transparent;
  padding-left: 20px;
  font-weight: 400;
}

#page-settings .sidebar a:hover {
  border-left: 2px solid #31d49a;
}

#page-settings .sidebar a.active {
  border-left: 2px solid #31d49a;
  background-color: rgba(49, 212, 154, 0.1);
  color: #31d49a;
  font-weight: 620;
}