* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030e23;
  transition: background-color 0.3s;
  font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
div,
p,
a,
span {
  color: #f1f5f9;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  font-weight: 700;
  font-size: 4em;
  display: inline-block;
}

.app-content-uppercase h2 a,
.app-content-uppercase .plugin-container h2 {
  text-transform: uppercase;
}

h2 a {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 16px;
}

.pageview {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
}

#page-home {
  display: block;

  overflow: auto;
}

.container {
  padding: 25px 250px 50px;
  width: 90%;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.no-select {
  user-select: none;
}

#container-apps {
  background-color: #071c38;
  border-bottom: 1px solid #123361;
  border-right: 1px solid #123361;
  border-left: 1px solid #123361;
  border-radius: 8px;
  border-top: 2px solid #3984f6;
  margin: 0 0 40px;
  padding: 20px;
}

#container-bookmakrs {
  background-color: #0b1435;
  border-bottom: 1px solid #1b1d51;
  border-right: 1px solid #1b1d51;
  border-left: 1px solid #1b1d51;
  border-radius: 8px;
  border-top: 2px solid #8f61f6;
  margin: 0 0 40px;
  padding: 20px;
}





.plugin-container h2 {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 16px;
  position: relative;
}

.plugin-container h2:after {
  content: " ";
  box-sizing: border-box;
  border-top-width: 1px;
  display: block;
  height: 1px;
  border-top-style: dotted;
  position: absolute;
  width: 100%;
  top: 50%;
}

.plugin-container h2 a {
  font-size: 22px;
  font-weight: 400;
  color: #f1f5f9;
  position: relative;
  padding-right: 8px;
  z-index: 9;
}

#page-home .footer-container {
  text-align: center;
  opacity: 0.6;
}

#page-settings .footer-container {
  text-align: center;
  opacity: 0.6;
}

#page-home .footer-container:hover {
  opacity: 1;
}

#page-home.pageview .container {
  min-width: 360px;
}